<div class="banner-img about"></div>

<div class="container m-wrap m-20 clearFloat">
    <div class="left-sidebar">
        <ul>
            <li class="sidebar-head">关于永湛</li>
            <li class="sidebar-item " ng-class="{'active':urlType === 'intro'}"><a href="#/about/intro">公司简介</a></li>
            <li class="sidebar-item " ng-class="{'active':urlType === 'culture'}"><a href="#/about/culture">企业文化</a></li>
            <li class="sidebar-item " ng-class="{'active':urlType=== 'business'}"><a href="#/about/business">经营范围</a></li>
            <li class="sidebar-item " ng-class="{'active':urlType=== 'honor'}"><a href="#/about/honor">资质荣誉</a></li>

        </ul>
        <div class="sidebar-contact">
            <div class="title">联系我们</div>
            <div class="content">
                <img src="/images/lxwm.jpg" width="230" height="80">
                <p>销售部：152-2555-8753</p>
                <p>技术部：189-3950-1244</p>
                <p>邮&nbsp;&nbsp;&nbsp;箱：yongzhanhb@163.com</p>
                <p>地&nbsp;&nbsp;&nbsp;址：洛阳市洛龙区863创智广场1号楼1113</p>
            </div>
        </div>
    </div>
    <div class="right-wrap new-detail">
        <div class="title">
            <span>{{data.channelName}}</span>
        </div>
        <div class="content" style="line-height: 28px;">
            <div class="text" ng-bind-html="content"></div>
        </div>
    </div>
</div>
