<style>
    .swiper-container {
        width:100%;
        height: 50px;
        text-align: center;
        margin-top:43px;
    }
    .swiper-slide {
        width: 100%;
        padding: 13px;
        background: #fff;
    }
    .swiper-slide div{
        border:thin solid #80A6D6;
        border-radius: 4px;
        padding: 4px;
        width: 80px;
        font-size: 14px;
    }
    .item{
        border-bottom: 1px dotted grey;
        padding:4px;
        position: relative;
    }
    .news-list .a-change{
        width: 80%;
    }
    .news-list .a-change p{
        width: 100%;
    }
    .a-change p{
        padding:0;
    }
    .a-change p.time{
        font-size: 14px;
    }
    .a-change .more{
        color:grey;
        position: absolute;
        right:0;
        top:9px;
        font-size: 18px;
    }
</style>
<nav class="clear news-list-navwrapper">
    <div class="back">
        <a href="javascript: history.go(-1);">
            <img src="images/back@3x.png" alt="返回">
        </a>
    </div>
    <div class="navTitle">
        <span>新闻资讯</span>
    </div>
    <div class="navSearch">
        <a href="#/">
            首页
        </a>
    </div>
</nav>

<!--slide nav-->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div style=" float:left; text-align:center;">
                <a href="#/news/company">公司新闻</a>
            </div>
            <div style=" float:left; text-align:center;margin-left:18px">
                <a href="#/news/trade">行业资讯</a>
            </div>
            <div style=" float:left; text-align:center;margin-left:18px">
                <a href="#/news/service">技术服务</a>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <div class="list-wrapper">
        <h3 ng-bind="data[0].channelName"></h3>
        <div class="" style="margin: 0 8px;">
            <ul class="news-list">
                <li class="item" ng-repeat="item in data" style="">
                    <a class="a-change" href="#/news/{{urlType}}/detail/{{item.id}}">
                        <p ng-bind="item.title"></p>
                        <p class="time">{{item.timerecorded}}</p>
                        <span class="more">></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    var mySwiper = new Swiper('.swiper-container',{
        scrollContainer: true,
        scrollbar: {
            container: '.swiper-scrollbar'
        }
    })
</script>