<style>
    .swiper-container {
        width:100%;
        height: 50px;
        text-align: center;
        margin-top:43px;
    }
    .swiper-slide {
        width: 600px;
        padding: 13px;
        background: #fff;
    }
    .swiper-slide div{
        border:thin solid #80A6D6;
        border-radius: 4px;
        padding: 4px;
        width: 80px;
        font-size: 14px;
    }
</style>
<nav class="clear news-list-navwrapper">
    <div class="back">
        <a href="javascript: history.go(-1);">
            <img src="images/back@3x.png" alt="返回">
        </a>
    </div>
    <div class="navTitle">
        <span>业务领域</span>
    </div>
    <div class="navSearch">
        <a href="#/">
            首页
        </a>
    </div>
</nav>

<!--slide nav-->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div style=" float:left; text-align:center;">
                <a href="#/product/designservice">设计服务</a>
            </div>
            <div style=" float:left; text-align:center;margin-left:18px">
                <a href="#/product/wasteWater">废水处理</a>
            </div>
            <div style=" float:left; text-align:center;margin-left:18px">
                <a href="#/product/smoke">烟气处理</a>
            </div>
            <div style=" float:left; text-align:center;margin-left:18px">
                <a href="#/product/noise">噪声处理</a>
            </div>
            <div style=" float:left; text-align:center;margin-left:18px">
                <a href="#/product/equipment">设备制造</a>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <div class="list-wrapper">
        <h3 ng-bind="data[0].channelName"></h3>
        <div class="relate-video" style="margin: 0 8px;">
            <ul>
                <li ng-repeat="item in data">
                    <a class="a-change" href="#/product/{{urlType}}/detail/{{item.id}}">
                        <img ng-src={{item.img}} alt="">
                        <p ng-bind="item.title"></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    var mySwiper = new Swiper('.swiper-container',{
        scrollContainer: true,
        scrollbar: {
            container: '.swiper-scrollbar'
        }
    })
</script>