<!doctype html>
<html lang="en" ng-app="routeApp">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport"-->
    <!--content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="【官网】河南永湛环保科技有限公司，污水处理设备厂家，洛阳污水处理设备，河南污水处理设备，洛阳环保公司，污水处理报价，一体化污水处理设备，污水处理机，环保设备
        污水，污水处理一体机，污水处理设备，地埋式污水处理设备，生活污水处理，工业污水处理，酸洗磷化废水，袋式除尘器，除尘器，环评报告，医疗废水，景区废水，小区污水，软化水，锅炉水">
    <meta name="description" content="河南永湛环保科技有限公司是一家集销售、设计、施工、安装、调试、售后、运营为一体的环保工程公司。主要业务范围有以下方面：污水处理设备，废气处理设备，环评报告等相关环保工程，咨询电话：18939501244
                  15225558753  河南省环保厅推荐环保公司  环保局推荐环保单位  美丽乡村建设  打造碧水蓝天  焦作环保单位  新郑 新密环保单为  漯河环保单位">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/lib/swiper/idangerous.swiper.css">
    <link rel="stylesheet" href="/lib/swiper/idangerous.swiper.scrollbar.css">
    <link href="/css/index.css" rel="stylesheet">
    <title>【官网】河南永湛环保科技有限公司</title>
</head>
<body>

<header>
    <div class="header m-wrap clearFloat">
        <div class="logo f-left" style="padding:20px 0">
            <!--<img src="http://www.lysmhb.com/imageRepository/7c80316c-affb-425a-a86d-8334a84a9d69.jpg" height="100px" alt="logo">-->
            <img src="/images/logo.png" height="68px" alt="logo">
        </div>
        <div class="right f-right" style="margin-top: 42px;margin-right: 100px;">
            服务热线：<span style="font-size:18px;color:#015db4;">189-3950-1244</span><span style="margin-left:30px;font-size:18px;color:#015db4;">139-4913-5598</span>
        </div>
    </div>
    <nav>
        <div class="nav-wrapper m-wrap">
            <ul class="nav nav-bar clearFloat">
                <li class="dropDown-wrap"><a href="#/">首页</a></li>
                <li class="dropDown-wrap">
                    <a href="#/about/intro">关于永湛</a>
                    <ul class="dropDown-menu">
                        <li><a href="#/about/intro">公司简介</a></li>
                        <li><a href="#/about/culture">企业文化</a></li>
                        <li><a href="#/about/business">经营范围</a></li>

                    </ul>
                </li>
                <li class="dropDown-wrap">
                    <a href="#/product/wasteWater">业务领域</a>
                    <ul class="dropDown-menu">
                        <li><a href="#/product/designservice">设计服务</a></li>
                        <li><a href="#/product/wasteWater">废水处理</a></li>
                        <li><a href="#/product/smoke">烟气处理</a></li>
                        <li><a href="#/product/noise">噪声处理</a></li>
                        <li><a href="#/product/equipment">设备制造</a></li>
                    </ul>
                </li>
                <li class="dropDown-wrap">
                    <a href="#/project/case">公司业绩</a>

                </li>
                <li class="dropDown-wrap">
                    <a href="#/about/honor">资质荣誉</a>
                </li>
                <li class="dropDown-wrap">
                    <a href="#/news/company">新闻资讯</a>
                    <ul class="dropDown-menu">
                        <li><a href="#/news/company">公司新闻</a></li>
                        <li><a href="#/news/trade">行业资讯</a></li>
                        <li><a href="#/news/service">技术支持</a></li>
                    </ul>
                </li>
                <li class="dropDown-wrap">
                    <a href="#/service/recruitment">加入永湛</a>
                    <ul class="dropDown-menu">
                        <li><a href="#/service/recruitment">人才招聘</a></li>
                        <li><a href="#/service/contact">联系我们</a></li>
                        <li><a href="#/service/technology">技术服务</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>


<div ng-view></div>
<div class="footer-wrap">
    <div class="friend">
        <div class="m-wrap" style="padding-left: 100px;">
            <ul class="clearFloat">
                <li>友情链接：</li>
                <li><a href="http://www.hnep.gov.cn/" target="_blank">河南省环保厅</a></li>
                <li><a href="http://www.lyhbj.gov.cn/" target="_blank">洛阳市环保局</a></li>
                <li><a href="http://www.zbytb.com/" target="_blank">中国招标与采购网</a></li>
                <li><a href="http://www.qianlima.com/" target="_blank">千里马招标网</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-nav m-wrap clearFloat">
        <div class="logo f-left">
            <a href="#/">
                <!--<img src="http://www.originwater.com/templets/default/images/footer_logo.png" alt="">-->
                <img src="/images/logo_white.jpeg" alt="" height="58">
            </a>
        </div>
        <div class="f-right">
            <ul class=" clearFloat">
                <li>
                    <a href="#/">首页</a>
                </li>
                <li>
                    <a href="#/about/intro">关于永湛</a>
                </li>
                <li>
                    <a href="#/product/wasteWater">业务领域</a>
                </li>
                <li>
                    <a href="#/project/case">公司业绩</a>
                </li>
                <li>
                    <a href="#/about/honor">资质荣誉</a>
                </li>
                <li>
                    <a href="#/news/company">新闻资讯</a>
                </li>
                <li>
                    <a href="#/service/recruitment">加入永湛</a>
                </li>
            </ul>
            <div class="address">
                <p><span>地址：洛阳市洛龙区863创智广场1号楼1113</span><span>电话：189-3950-1244</span><span style="margin-left: 10px;">139-4913-5598</span> <span>豫ICP备17020762号</span></p>
            </div>
        </div>


    </div>
    <!--<div class="footer-bottom">-->
    <!--<p class="m-wrap" style="text-align: center;">© 2016 永湛环保 All rights reserved   |   河南永湛环保科技有限公司   |   豫ICP备16005629号</p>-->
    <!--</div>-->
</div>


<script src="/lib/jquery/jquery-3.1.1.min.js"></script>
<script src="/lib/swiper/idangerous.swiper.min.js"></script>
<script src="/lib/swiper/idangerous.swiper.scrollbar-2.1.js"></script>
<script src="/lib/angular/angular.min.js"></script>
<script src="/lib/angular/angular-route.min.js"></script>
<script src="/lib/angular/angular-sanitize.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=rz126TUZQBoddWz5Gfpfq99ctnGqZNWz"></script>
<script src="/js/route.js"></script>
<script src="/js/controller.js"></script>
<script src="/js/index.js"></script>

<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?7195abe0901a4e493c3bddc75058b02b";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>
