<div class="banner-img"></div>

<div class="container m-wrap m-20 clearFloat">
    <div class="left-sidebar">
        <ul>
            <li class="sidebar-head">关于我们</li>
            <li class="sidebar-item " ng-class="{'active':urlType === 'company'}"><a href="#/news/company">公司新闻</a></li>
            <li class="sidebar-item " ng-class="{'active':urlType === 'trade'}"><a href="#/news/trade">行业资讯</a></li>
            <li class="sidebar-item " ng-class="{'active':urlType=== 'service'}"><a href="#/news/service">技术服务</a></li>

        </ul>
        <div class="sidebar-contact">
            <div class="title">联系我们</div>
            <div class="content">
                <img src="/images/lxwm.jpg" width="230" height="80">
                <p>电话：188-8888-8888</p>
                <p>邮箱：12345678@qq.com</p>
                <p>地址：洛阳市洛龙区龙门大道与聂潘路交叉口西200米</p>
            </div>
        </div>
    </div>
    <div class="right-wrap new-detail">
        <div class="title">
            <span>{{data.channelName}}</span>
        </div>
        <div class="content">
            <h4>{{data.title}}</h4>
            <p class="pubdata">{{data.timerecorded}}</p>
            <div class="text" ng-bind-html="content"></div>
        </div>
    </div>
</div>
