*{
    margin: 0;
    padding:0;
}
html,body{
    font-family: "Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif";
    font-size: 14px;
}
header{

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:#333;
}
div{
    box-sizing: border-box;
}
.clearFloat:after{
    content: '';
    display: block;
    clear: both;
    visibility:hidden;
    height:0;
}
.m-wrap{
    width:1200px;
    margin: 0 auto;

}
.f-left{
    float: left;
}
.f-right{
    float: right;
}
.line{
    width: 100%;
    height:1px;
    background: #0068b7;
}
.header .logo{}
nav{
    background: #015db2;
}
.nav{
    width:100%;
    background: #015db2;
}
.nav-bar >li{
    float: left;
    position: relative;
}
.nav-bar>li a {
   display: block;
    width:150px;
    text-align: center;
    padding:10px;
    color:#fff;

}
.dropDown-wrap:hover{
    background: #006bb7;
}
.dropDown-wrap:hover .dropDown-menu{

    max-height:400%;
    transition: all 1s;
}
.dropDown-menu{
    position: absolute;
    left: 0;
    top:100%;
    max-height:0;
    background: #0075c2;
    overflow: hidden;
    z-index: 100;
}
.dropDown-menu li:hover{
    background: #0080cd;

}

/*swiper*/
.swiper-container{
    height:400px;
}
.swiper-slide{
    text-align: center;
}
.swiper-slide img{
    height:100%;
    width: auto;
}

/*pannel*/
.pannel{
    width:60%;
    float: right;
    /*border:1px solid #ddd;*/
}
.pannel .pannel-head{
    /*background:#f5f5f5;*/
    border-bottom: 1px solid #0068b7;
}
.pannel .pannel-head h3{
    font-size: 16px;
    font-weight: 400;
    padding: 6px 10px;
}
.pannel .pannel-head .more{
    float: right;
}
.pannel .pannel-body{
    padding: 10px 20px;
}
.product-show  {
    width:960px;
}
.productCarousel,.productCarousel2{
    height: 160px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.productCarousel .swiper-slide,.productCarousel2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;


}
.productCarousel .swiper-slide a, .productCarousel2 .swiper-slide a{
    width: 100%;
    display: inline-block;
}
.productCarousel .swiper-slide img, .productCarousel2 .swiper-slide img{
    width: 100%;
    height: 120px;
}
.productCarousel .swiper-slide .title,.productCarousel2 .swiper-slide .title{
    font-size: 14px;
}


.product-show .pannel-head h3 {
    text-align: center;
}

.pannel-left{
    width:200px;
    float: left;
    /*border:1px solid #ddd;*/
}
.pannel-left .pannel-head{
    /*background:#f5f5f5;*/
    border-bottom: 1px solid #0068b7;
    text-align: center;
}
.pannel-left .pannel-head h3{
    font-size: 16px;
    font-weight: 400;
    padding: 6px 10px;
}
.pannel-left .pannel-head .more{
    float: right;
}
.pannel-left .pannel-body{
    padding: 10px 0px;
    background: #015db2;
}

.business-area .pannel-body ul li{
    display: block;
    text-align: center;
}
.business-area .pannel-body ul li a{
    display: inline-block;
    width: 100%;
    color:#fff;
    padding:21px 8px;
    box-sizing: border-box;
}

/*首页公司简介*/
.company-intro{
     padding: 10px;
 }
.company-intro h3{
    padding: 10px 10px 10px 120px;

}
.company-intro .company-text ul{
    padding: 10px;
}
.company-intro .company-text ul li{
    padding: 16px;
}

/*首页资质荣誉*/
.company-honor{
    padding: 10px;
    position: relative;
}
.company-honor .arrow-left {
    background: url(/images/arrows.png) no-repeat left top;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -15px;
    font-size: 38px;
    z-index: 9999;
}
.company-honor .arrow-right {
    background: url(/images/arrows.png) no-repeat left bottom;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -15px;
    font-size: 38px;
    z-index: 9999;
}
.company-honor h3{
    padding: 10px;

}
.honorCarousel{
    width: 400px;
    height:260px;
    border: 1px solid darkgrey;
    padding: 10px;
}
.honorCarousel .swiper-slide img{
    width: 50%;
    height: 220px;
}

/*工程案例*/
.project h3{
    padding: 10px;

}
.projectCarousel{
    width: 100%;
    height:200px;
    padding: 10px;
}
.projectCarousel .swiper-slide img{
    width: 80%;
}

/*新闻资讯*/
.news-wrap .news{
    width: 30%;
    text-align: center;
}

.news-wrap .news h4{
    padding:20px 0 10px;
}
.news-wrap .news ul{
    height:200px;
    text-align: left;
}
.news-wrap .company-news{
    margin-left: 20px;

}
.news-wrap .trade-news{
    width: 33%;
    margin-left: 20px;
    margin-right: 20px;
}
.news-wrap .trade-news ul{
    border-left: 1px dotted #015db2;
    border-right: 1px dotted #015db2;
    padding: 0 20px;
}
.news-wrap .news ul li a{
    display: inline-block;
    padding: 6px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}
.news-wrap .news ul li .pubdate{
    float: right;
    display: inline-block;
}

/*关于我们*/
.m-20{
    margin-top: 20px;
}
.banner{
    height:300px;
    text-align: center;
}
.banner img{
    height:300px;
    width:auto;
}
.left-sidebar {
    float: left;
    width:25%;
    padding: 0 10px;
    box-sizing: border-box;

}
.left-sidebar li{
    background: #f2f2f2;
    padding-right: 40px;
    text-align: right;
    box-sizing: border-box;
    font-size: 18px;
    border-bottom: 1px solid #e7e7e7;
}
.left-sidebar li.sidebar-item:hover{
    background: #ee7615;
    transition: all 1s;
    padding-right:20px;
}
.left-sidebar li.sidebar-item:hover a{
    color:#fff;
    transition: all 1s;
}
.left-sidebar li.active{
    border-left: 3px solid #ee7615;

}
.left-sidebar li.active:hover{
    background: #f2f2f2;
    padding-right:40px;

}
.left-sidebar li.active a{
    color: #ee7615;

}
.left-sidebar li.active:hover a{
    color:#ee7615;

}
.left-sidebar .sidebar-head{
    height:150px;
    line-height: 150px;
    width:100%;
    padding:0;
    color:#fff;
    text-align: center;
    font-size: 26px;
    background: url("/images/second_nav_head.png");
    border-bottom: none;
}
.left-sidebar li a {
    color:#666;
    display: inline-block;
    width: 100%;
    padding:16px 0;

}

.right-wrap{
    float: left;
    width:75%;
    padding:0 10px;
    box-sizing: border-box;
}
.right-wrap .title{
    border-bottom: 1px solid #e7e7e7;
}
.right-wrap .title span{
    color:#ee7615;
    font-size: 18px;
    display: inline-block;
    border-bottom: 3px solid #ee7615;
}
.right-wrap .content {
    padding-top:20px;
}



/*footer*/
.footer-wrap{
    margin-top: 50px;
}

.footer-wrap .footer-nav{
    background: #015db2;
    height:150px;
}
.footer-wrap .footer-nav .nav-bar{
    margin: 40px 30px 0 0;
}
.footer-wrap .footer-nav .nav-bar>li{
    padding:10px 0;
}

.footer-wrap .footer-nav .nav-bar>li a {
    display: block;
    width:100px;
    text-align: center;
    padding:0;
    color:#fff;
    font-size: 14px;
    border-left: 1px dotted grey;

}
.footer-wrap .footer-nav .address{
    color:#fff;
    margin-top: 20px;
}
.footer-wrap .footer-bottom {
    background: #dadada;
    padding:6px;
    text-align: center;
    font-size: 12px;
}


/*新闻列表页*/
.banner-img{
    height: 400px;
    background-image: url("http://www.lysmhb.com/imageRepository/194234c3-5fc8-4b09-add7-8d09c4483b8e.jpg");
    background-size: auto 400px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.news-wrap .right-wrap .content .item{
    border-bottom: 1px dotted grey;
    padding:10px;
}

/*新闻详情*/
.new-detail .content h4{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
.new-detail .content .pubdata{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
.new-detail .content .text{
    margin-top: 20px;
}


.swiper-container .pagination {
    position: absolute;
    z-index: 20;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.swiper-container .swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #555;
    margin: 0 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}
.swiper-container .swiper-active-switch {
    background: #fff;
}