<div class="banner-img product"></div>

<div class="container m-wrap m-20 clearFloat">
    <div class="left-sidebar">
        <ul>
            <li class="sidebar-head">业务领域</li>
            <li class="sidebar-item " ng-class="{'active':urlType === 'designservice'}"><a href="#/product/designservice">设计服务</a></li>
            <li class="sidebar-item " ng-class="{'active':urlType === 'wasteWater'}"><a href="#/product/wasteWater">废水处理</a></li>
            <li class="sidebar-item " ng-class="{'active':urlType === 'smoke'}"><a href="#/product/smoke">烟气处理</a></li>
            <li class="sidebar-item " ng-class="{'active':urlType === 'noise'}"><a href="#/product/noise">噪声处理</a></li>
            <li class="sidebar-item " ng-class="{'active':urlType=== 'equipment'}"><a href="#/product/equipment">设备制造</a></li>

        </ul>
        <div class="sidebar-contact">
            <div class="title">联系我们</div>
            <div class="content">
                <img src="/images/lxwm.jpg" width="230" height="80">
                <p>销售部：152-2555-8753</p>
                <p>技术部：189-3950-1244</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;139-4913-5598</p>
                <p>邮&nbsp;&nbsp;&nbsp;箱：yongzhanhb@163.com</p>
                <p>地&nbsp;&nbsp;&nbsp;址：洛阳市洛龙区863创智广场1号楼1113</p>
            </div>
        </div>
    </div>
    <div class="right-wrap product-detail-wrap">
        <div class="title">
            <span>{{data.channelName}}</span>
        </div>
        <div class="content">
            <div class="head clearFloat">
                <div class="img f-left">
                    <img ng-src="{{data.img}}" alt="">
                </div>
                <div class=" f-right">
                    <h2>{{data.title}}</h2>
                    <p class="p1">环保局推荐优秀企业品牌</p>
                    <p class="p3">市场价格：电议</p>
                    <p class="p4">联系电话：189-3950-1244</p>
                </div>
            </div>
            <div class="main">
                <h3>详细介绍 <span>PRODUCT DETAILS</span></h3>
                <div class="text" ng-bind-html="content"></div>
            </div>

        </div>
    </div>
</div>
