<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/js/swiper/idangerous.swiper.css">
    <link rel="stylesheet" href="/js/swiper/idangerous.swiper.scrollbar.css">
    <link href="/css/index.css" rel="stylesheet">
    <title><%=title%>-node-cms管理系统</title>
</head>
<body>
    <header>
        <h1>header</h1>
        <nav>
            <div class="nav-wrapper m-wrap">
                <ul class="nav nav-bar clearFloat">
                    <li><a href="/">首页</a></li>
                    <li class="dropDown-wrap">
                        <a href="#" >关于我们</a>
                        <ul class="dropDown-menu">
                            <li><a href="/about/intro">企业简介</a></li>
                            <li><a href="/about/development">发展历程</a></li>
                            <li><a href="/about/cultural">文化理念</a></li>
                            <li><a href="/about/connect">联系我们</a></li>
                        </ul>
                    </li>
                    <li class="dropDown-wrap">
                        <a href="#" >新闻动态</a>
                        <ul class="dropDown-menu">
                            <li><a href="/news/companyNews">公司新闻</a></li>
                            <li><a href="/news/tradeNews">行业新闻</a></li>
                        </ul>
                    </li>
                    <li><a href="/about/connect">联系我们</a></li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>
