<% include ../parts/header.ejs %>
    <!--swiper-->
    <div class="swiper-container" id="swiper">
        <div class="swiper-wrapper " >
            <% data.carousel.forEach(function(item){%>
            <div class="swiper-slide" >
                <a href="#/">
                    <!--<img src="https://creditmanager.b0.upaiyun.com/f9d6cee715abd1c55175f3e44e8e44e2" alt="" width="100%">-->
                    <img src=<%= item.imgUrl %> alt="" width="100%">
                </a>
            </div>
            <%})%>
        </div>

        <div class="pagination"></div>

    </div>

    <div class="m-wrap m-20">
        <div class="pannel">
            <div class="pannel-head">
                <h3>
                    新闻动态
                    <span class="more">
                        <a href="/news/companyNews">更多>></a>
                    </span>
                </h3>

            </div>
            <div class="pannel-body">
                <ul>
                    <% for(var i=0;i<data.companyNews.data.length;i++){%>
                    <li><a href="/news/companyNews/<%=data.companyNews.data[i].newsId%>"><%=data.companyNews.data[i].newsTitle%> </a></li>
                    <%}%>
                </ul>
            </div>
        </div>
    </div>

<% include ../parts/footer.ejs %>