<div class="banner-img project">
    <!--<img src="http://www.lysmhb.com/imageRepository/194234c3-5fc8-4b09-add7-8d09c4483b8e.jpg" alt="" width="100%">-->
</div>

<div class="news-wrap m-wrap m-20 clearFloat">
    <div class="left-sidebar">
        <ul>
            <li class="sidebar-head">公司业绩</li>
            <li class="sidebar-item " ng-class="{'active':urlType === 'designservice'}"><a href="#/project/case">工程案例</a></li>


        </ul>
        <div class="sidebar-contact">
            <div class="title">联系我们</div>
            <div class="content">
                <img src="/images/lxwm.jpg" width="230" height="80">
                <p>销售部：152-2555-8753</p>
                <p>技术部：189-3950-1244</p>
                <p>邮&nbsp;&nbsp;&nbsp;箱：yongzhanhb@163.com</p>
                <p>地&nbsp;&nbsp;&nbsp;址：洛阳市洛龙区863创智广场1号楼1113</p>
            </div>
        </div>
    </div>
    <div class="right-wrap product-list-wrap">
        <div class="title">
            <span>{{data[0].channelName}}</span>
        </div>
        <div class="content">
            <div  class=" clearFloat">
                <ul>
                    <li class="item" ng-repeat="item in data">
                        <a href="#/project/{{urlType}}/detail/{{item.id}}">
                            <img ng-src="{{item.img}}" alt="">
                            <p>{{item.title}}</p>
                            <div class="intro-bg">{{item.intro}}</div>
                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>